.body{
    background-color: var(--bg);
    color: var(--text);
    display: flex;
}

a{
    color: inherit;
    text-decoration: none; 
}

.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
}

.content{
    flex: 4;
    padding: 20px;
}