.bodyPage{
	position: relative;
    background: url('../../../homePage.png') no-repeat;
    color: var(--text);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.pages{
	height: 70%;
	margin-top: 300px;
	margin-left: 100px;
    text-align: center;
}