.container{
	margin:2%;
	max-width:525px;
	min-height:670px;
	position:relative;
	background: url('../../../drone.png') no-repeat center;
}

.pages{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(46, 55, 74, 0.9);
    border: none;
    border-radius: 20px;
}