a{
    color: inherit;
    text-decoration: none; 
}

.body{
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.toggle-button{
    padding: 10px;
    margin-left: 10px;
    display: none;
}

.menu{
    flex: 1;
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 960px){
    .menu{
        display: none;
    }

    .toggle-button{
        display: block;
    }

    .body.active .menu{
        display: block;
    }
}

.content{
    flex: 4;
    padding: 20px;
}

.wrapper{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/***************CARD***************/

.dashCard{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}

.dashCard:hover{
    background-color: #2e374a;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number{
    font-size: 24px;
    font-weight: 500;
}

.detail{
    font-size: 14px;
    font-weight: 300;
}

.positive{
    color: var(--positiveButton);
}

.negative{
    color: var(--negativeButton);
}

/***************TRANSACTIONS***************/

.transactions{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.transTitle{
    margin-bottom: 20px;
    font-weight: 200;
    color: var(--textSoft);
}

.transTable{
    width: 100%;
}

.transTable thead {
    background-color: #2d3e63;
    border-radius: 10px;
    height: 100%;
    border: none;
}

.transTable td{
    padding: 10px;
}

.transTable thead td{
    font-size: 20px;
}

/***************CHART***************/

.chart{
    height: 450px;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}

.title{
    font-weight: 200;
    color: var(--textSoft);
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .cards{
        flex-wrap: wrap;
    }

    .dashCard{
        width: 80%;
    }

    .transactions{
        width: 85%;
    }

    .chart{
        width: 85%;
    }
}

/***************DRONE-USER***************/

.topPanel{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataTable{
    background-color: var(--tableAndHover);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.dataTable td{
    padding: 10px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.update{
    background-color: #468f43;
}

.delete{
    background-color: #c84f2a;
}

.off{
    background-color: var(--bg);
}

/***************SIDEBAR***************/

.sideBar{
    position: sticky;
    top: 40px;
}

.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.userImage{
    border-radius: 50%;
    object-fit: cover;
}

.userDetail{
    display: flex;
    flex-direction: column;
}

.userName{
    font-weight: 500;
}

.userTitle{
    font-size: 12px;
    color: var(--textSoft);
}

.list{
    list-style: none;
}

.item{
    color: var(--textSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}

.logout{
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    border: none;
    color: white;
    width: 100%;
}

.logout:hover{
    background-color: var(--tableAndHover);
}

/***************MENULINK***************/

.menuLink{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 5px 0px;
    border-radius: 10px;
}

.menuLink:hover, .active2{
    background-color: var(--tableAndHover);
}

/***************PAGINATION***************/

.pagination{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button{
    padding: 5px 10px;
    cursor: pointer;
}

/***************SEARCH***************/

.search{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--tableAndHover);
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.searchInput{
    background-color: transparent;
    border: none;
    color: var(--text);
    outline: none;
}

/***************ADD***************/

.addPanel{

}

.addForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addForm input, .addForm select, .addForm option{
    padding: 15px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--tableAndHover);
    border-radius: 5px;
    margin-bottom: 30px;
}

.addForm input{
    width: 45%;
}

.addForm select{
    width: 45%;
}

.addForm button{
    width: 45%;
    height: 55%;
    padding: 15px;
    background-color: #468f43;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/***************PERMISSION***************/

.permissionsCard {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.permissionCard {
    flex: 0 1 calc(33.333% - 20px); /* 3 kart için varsayılan genişlik */
    background-color: var(--tableAndHover);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}

/* 600px genişliğinde 2 kart */
@media (max-width: 600px) {
    .permissionCard {
        flex-basis: calc(50% - 20px);
    }
}

/* Telefon boyutlarında 1 kart */
@media (max-width: 400px) {
    .permissionCard {
        flex-basis: calc(100% - 20px);
    }
}

.texts-permission{
    display: flex;
    flex-direction: column;
}