.drone{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton{
    padding: 10px;
    background-color: var(--addButton);
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.droneTable{
    background-color: var(--tableAndHover);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
}

.droneTable td{
    padding: 10px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.button{
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.update{
    background-color: #468f43;
}

.delete{
    background-color: #c84f2a;
}