:root{
    --bg: #151c2c;
    --bgSoft: #182237;
    --text: white;
    --textSoft: #b7bac1;
    --positiveButton: lime;
    --negativeButton: red;
    --addButton: #151c2c;
    --tableAndHover: #2e374a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

#root {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg);
    color: var(--textSoft);
}